@use '../variables'
@use '../mixins'

#sidebar
  background-color: variables.$bg-color
  margin-top: 6.6rem
  flex: 1 1 0
  height: 65rem
  border-radius: variables.$container-border-radius
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  position: relative
  padding: 7rem 0

  .avatar
    max-width: 70%
    border-radius: variables.$container-border-radius
    position: absolute
    top: -6.4rem
    box-shadow: 0px 0px 20px variables.$bg-color

  .title
    color: variables.$text-color-secondary
    background-color: variables.$bg-color-secondary
    border-radius: variables.$card-border-radius
    margin-top: 14rem
    margin-bottom: 1.5rem
    padding: .8rem 1.2rem
    font-family: 'VT323', monospace
  
  .animated-underline
    animation: blink 1s infinite
    animation-fill-mode: none


  .btn
    @include mixins.btn
    margin-top: 4.4rem
    padding: 1.4rem 2rem
    font-size: 1.1rem

@media screen and (max-width: 1920px)
  #sidebar
    height: 70rem

  #sidebar .name
    margin-top: 5rem
    font-size: 3.5rem

  #sidebar .title
    margin-top: 20rem
    font-size: 1.8rem

  #sidebar .btn
    margin-top: 1.8rem

@media screen and (max-width: 1600px)
  #sidebar
    height: 61rem

  #sidebar .title
    margin-top: 14rem
    margin-bottom: 1.5rem
    padding: .8rem 1.2rem
    font-size: 1.5rem

  #sidebar .name
    margin-top: 0rem
    font-size: 2.8rem

@media screen and (max-width: 1366px)
  #sidebar
    height: 60rem

  #sidebar .name
    margin-top: -2rem
    font-size: 2.5rem

  #sidebar .title
    margin-top: 11rem
    font-size: 1.5rem

  #sidebar .btn
    margin-top: 2.6rem

@media screen and (max-width: 820px)
  #sidebar
    height: 80rem

  .avatar
    max-width: 50%

  #sidebar .name
    margin-top: 13.2rem
    font-size: 3.2rem

  #sidebar .title
    margin-top: 27.5rem
    padding: 1.2rem 1.6rem
    margin-bottom: 0rem
    font-size: 1.8rem

  #sidebar .btn
    margin-top: 2rem
    padding: 1.8rem 2.2rem
    font-size: 1.5rem

@media screen and ( max-width: 601px )
  #sidebar
    height: 72.5rem

  #sidebar .name
    margin-top: 5rem
    font-size: 3.2rem

  #sidebar .title
    margin-top: 20.5rem
    padding: 1.2rem 1.6rem
    margin-bottom: 0rem
    font-size: 1.5rem

@media screen and ( max-width: 414px )
  #sidebar
    height: 64rem

  #sidebar .name
    margin-top: -2rem
    font-size: 3rem

  #sidebar .title
    margin-top: 13rem
    font-size: 1.5rem


@keyframes blink 
  from
    opacity: 0
  to 
    opacity: 1
      
